<div class="animated fadeIn">
  <div class="card">
    <div class="card-header bg-dark">
      <i class="fa fa-car"></i> Your Vehicles
    </div>
    <div class="card-body p-0">
      <table
        class="table table-responsive-sm table-hover table-outline mb-0 bg-white"
      >
        <thead class="thead-light">
          <tr>
            <th class="text-center"><i class="fa fa-car"></i></th>
            <th>Name</th>
            <th>Model</th>
            <th>Type</th>
            <th>License</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of (vehicles$ | async)?.data as list">
            <td class="text-center">
              <div class="avatar">
                <img
                  src="assets/img/avatars/1.jpg"
                  class="img-avatar"
                  alt="admin@bootstrapmaster.com"
                />
                <span class="avatar-status badge-success"></span>
              </div>
            </td>
            <td>
              <div>{{ item.name }}</div>
              <div class="small text-muted"><span>New</span> | Registered:</div>
            </td>
            <td>
              <div>
                {{ item.vehicle_type_model }}
              </div>
            </td>
            <td>
              <div>{{ item.vehicle_type_name }}</div>
            </td>
            <td>
              <div>{{ item.license_plate }}</div>
            </td>
            <td>
              <div class="btn-group float-right" dropdown>
                <button type="button" class="btn btn-danger">View</button>
                <button
                  type="button"
                  dropdownToggle
                  class="btn btn-danger dropdown-toggle dropdown-toggle-split"
                >
                  <span class="caret"></span>
                  <span class="sr-only">Split button!</span>
                </button>
                <ul *dropdownMenu class="dropdown-menu" role="menu">
                  <li role="menuitem">
                    <a class="dropdown-item" href="#">Edit</a>
                  </li>
                  <li role="menuitem">
                    <a class="dropdown-item" href="#">Delete</a>
                  </li>
                </ul>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
