<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12 col-md-12">
      <div class="card card-accent-primary">
        <div class="card-header">
          <i class="fa fa-car"></i>Your Vehicles
          <button
            (click)="addVehicle()"
            class="btn btn-primary float-right"
            type="button"
          >
            <i class="fa fa-car "></i>&nbsp;Add Vehicle
          </button>
        </div>
        <div class="card-body">
          Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam
          nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat
          volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation
          ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>
</div>
