<div class="row">
  <div class="col-sm-12">
    <div class="card">
      <div class="card-header">
        <strong>Add New Vehicle</strong>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-sm-5 col-md-5">
            <div class="card p-4">
              <div class="card-body"></div>
            </div>
            <div class="row">
              <div class="col-sm-4 col-md-4">
                <div class="card p-0">
                  <div class="card-body"></div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="card p-0">
                  <div class="card-body"></div>
                </div>
              </div>
              <div class="col-sm-4 col-md-4">
                <div class="card p-0">
                  <div class="card-body"></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-sm-7 col-md-7">
            <div class="card p-4">
              <div class="card-body">
                <form (submit)="upload()" [formGroup]="uploadForm"></form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
