<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-7 col-md-7">
      <div class="card">
        <div class="card-header bg-dark">Provide Vehicle Details</div>
        <div class="card-body">
          <form (submit)="upload()" [formGroup]="uploadForm">
            <div class="form-group">
              <label for="company">Vehicle Name</label>
              <input
                style="text-transform:capitalize"
                formControlName="name"
                class="form-control border-dark"
                placeholder="Enter your vehicle name"
                type="text"
              />
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label for="vat">Type</label
                ><input
                  style="text-transform:capitalize"
                  formControlName="type"
                  class="form-control border-dark"
                  placeholder="TATA, Ford etc."
                  type="text"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="vat">Model</label
                ><input
                  style="text-transform:capitalize"
                  formControlName="model"
                  class="form-control border-dark"
                  placeholder="TATA, Ford etc."
                  type="text"
                />
              </div>
              <div class="form-group col-md-4">
                <label for="company">Color</label
                ><input
                  style="text-transform:capitalize"
                  formControlName="color"
                  class="form-control border-dark"
                  placeholder="Enter your vehicle color"
                  type="color"
                />
              </div>
            </div>

            <div class="form-group">
              <label for="vat">License Number</label
              ><input
                formControlName="license"
                class="form-control border-dark"
                placeholder="TATA, Ford etc."
                type="text"
              />
            </div>

            <div class="form-group">
              <label for="ccmonth">Fuel Volume Unit</label
              ><select
                style="text-transform:capitalize"
                class="form-control border-dark"
                formControlName="volume"
                id="ccmonth"
                ><option>US Gallons</option
                ><option>UK Gallons</option
                ><option>Litres</option>
              </select>
            </div>

            <div class="form-group mb-3 mb-xl-0">
              <button
                class="btn btn-square btn-block btn-dark"
                [disabled]="!uploadForm.valid"
                type="submit"
              >
                SUBMIT
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="col-sm-5 col-md-5">
      <div class="card">
        <div class="card-header bg-dark">
          Upload Vehicle Images
        </div>
        <div class="card-body">
          <div class="form-group" *ngFor="let item of uploader.queue">
            <div class="media-left">
              <img
                width="50"
                height="50"
                src=""
                imgPreview
                [image]="item?._file"
                class="media-object"
              />
            </div>
            <div class="clearfix">
              <div class="float-left">
                <strong> {{ item?.file?.name | titlecase }} </strong>
              </div>
              <div class="float-right">
                <small class="text-muted">
                  {{ item?.file?.size / 1024 / 1024 | number: '.2' }} MB
                </small>
                <button
                  (click)="item.remove()"
                  class="btn btn-brand btn-sm btn-danger mr-1"
                  style="margin-bottom: 4px"
                  type="button"
                >
                  <i class="fa fa-remove"></i>
                </button>
              </div>
            </div>
            <progressbar [value]="item.progress" [animate]="true"></progressbar>
          </div>
          <span class="hidden-file">
            <input
              type="file"
              #fileInput
              multiple
              ng2FileSelect
              [uploader]="uploader"
              (onFileSelected)="onFileSelected($event)"
            />
          </span>
          <button
            class="btn btn-dark btn-lg btn-solid"
            type="button"
            (click)="fileInput.click()"
          >
            <i class="fa fa-upload"></i>
            Select Images
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
